/.vs/OEE/DesignTimeBuild/*.v2
/.vs/OEE/v17
/.vs/ProjectEvaluation
/.vs/OEE/FileContentIndex/*.vsidx
/.idea
/NCCore/obj/Debug/net7.0/*.cache
/NCCore/obj
/NCCore/bin/Debug/net7.0
/NCCoreApi/obj/Debug/net7.0/*.cache
/NCCoreApi/obj/*.cache
/NCCoreApi/obj/Debug/net7.0/*.editorconfig
/NCCoreApi/obj/*.json
/NCCoreApi/obj/*.props
/NCCoreApi/obj/*.targets
/NCCoreApi/bin/Debug/net7.0/NCCore.dll
/NCCoreApi/bin/Debug/net7.0/NCCore.pdb
/NCCoreApi/bin/Debug/net7.0/NCCoreApi.deps.json
/NCCoreApi/bin/Debug/net7.0/NCCoreApi.dll
/NCCoreApi/bin/Debug/net7.0/NCCoreApi.pdb
/NCCoreApi/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/NCCoreApi/obj/Debug/net7.0/NCCoreApi.AssemblyInfo.cs
/NCCoreApi/obj/Debug/net7.0/NCCoreApi.GlobalUsings.g.cs
/NCCoreApi/obj/Debug/net7.0/NCCoreApi.csproj.FileListAbsolute.txt
/NCCoreApi/obj/Debug/net7.0/NCCoreApi.csproj.Up2Date
/NCCoreApi/obj/Debug/net7.0/NCCoreApi.dll
/NCCoreApi/obj/Debug/net7.0/NCCoreApi.pdb
/NCCoreApi/obj/Debug/net7.0/NCCoreApi.sourcelink.json
/NCCoreApi/obj/Debug/net7.0/ref/NCCoreApi.dll
/NCCoreApi/obj/Debug/net7.0/refint/NCCoreApi.dll
/NCCore/bin/Debug/net8.0
/NCCoreApi/bin/Debug/net8.0/*.dll
/NCCoreApi/bin/Debug/*.gitignore
/NCCoreApi/obj/Debug/net8.0/*.cs
/NCCoreApi/obj/Debug/net8.0/*.cache
/NCCoreApi/obj/Debug/net8.0/*.editorconfig
/NCCoreApi/obj/Debug/net8.0/*.txt
/NCCoreApi/obj/Debug/net8.0/*.Up2Date
/NCCoreApi/obj/Debug/net8.0/*.dll
/NCCoreApi/obj/Debug/net8.0/*.pdb
/NCCoreApi/obj/Debug/net8.0/*.json
/NCCoreApi/obj/Debug/net8.0/ref/*.dll
/NCCoreApi/obj/Debug/net8.0/refint/*.dll
/.vs/OEE/config/applicationhost.config
/OEE.Api/OEE.Api.csproj.user
/OEE.Api/bin/Debug/net8.0/*.dll
/OEE.Api/bin/Debug/net8.0/*.exe
/OEE.Api/bin/Debug/net8.0/*.pdb
net8.0
Container
*.json
*.props
*.targets
*.cache
/.vs/OEE/CopilotIndices/17.12.68.61481/*.db
/.vs/OEE/CopilotIndices/17.12.68.61481/*.db-shm
/.vs/OEE/CopilotIndices/17.12.68.61481
/.vs/OEE/copilot-chat/19fa6234

/.vs/OEE/CopilotIndices/17.14.734.62261/CodeChunks.db
17.14.734.62261
17.14.670.39694
*.db
CodeChunks.db
CodeChunks.db-shm
CodeChunks.db-wal
SemanticSymbols.db
SemanticSymbols.db-shm
SemanticSymbols.db-wal
OEE.sln.DotSettings.user

/.vs
/websocket-poc/v2.7/OeeBackend/bin
